@model StudCurRegistration.studInfo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>studInfo</h4>
    <hr />
    <dl class="row">        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudGender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudEmailAdd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudEmailAdd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudphNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudphNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudEnrollFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudEnrollFee)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StudentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
